<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/about.css">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
</style>
  <title>About</title>
</head>
  
<body>
  <div class="container">
  
<!--   NAV start -->
  <nav>
     <a href="/" class="short">Home</a>
      <a href="/about">About Us</a>
      <div class="duck">
        <img src="/static/duckling.png" alt="duck picture" height=75 px>
      </div>
      <a href="/create">Create Event</a>
<!--   link to calender -->
      <a href="/add">Calender</a>
  </nav>
<!-- NAV end -->

  <section class="description">
    <h1 class="abtTitle">About</h1>
    <p>This is a Website created for people who want to be more involved througout the school, increasing productivity for all.</p>
  </section>

    
  <div class="aboutHeader">
    <h1 class="abtTitle">Meet The Team</h1>
  </div>

  <main>
    <section class="aboutLeft">
      

      <div class="abtManin">
        <h3>Maninder Kaur</h3>
        <div class="overlayContainer">
          <img src="/static/maninPhoto.png" alt="" class="aboutImg">
          <div class="overlay">
            <p class="overlayText">Maninder is a junior at HSE High School. She enjoys coding and computer science and wants to pursue it as a future career. In her down time she enjoys reading, playing video games, and painting. You can contact her at kaurman011@hsestudents.org.</p>
          </div>
        </div>
      </div> 
    </section>

    <section class="aboutRight">
      <div class="abtCit">
        <h3>Citlali Hernandez</h3>
        <div class="overlayContainer">
          <img src="/static/citPhoto.png" alt="" class="aboutImg">
          <div class="overlay">
          <p class="overlayText">Citlali is a junior at HSE High School. Outside of coding, she enjoys fishing and baking.She also enjoys to code and draw in her free time. You can contact her at hernacit000@hsestudents.org. </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p>The Good Duck &copy; 2022</p>
    <p>Created by Maninder Kaur and Citlali Hernandez</p>
  </footer>
</div>
</body>
</html>
