<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calender</title>
  <link href="/static/create.css" rel="stylesheet" type="text/css" />
</head>
<body id="chbod">
<nav>
  <div class="duck">
    <img src="/static/duckling.png" alt="duck picture" height=75 px width=75>
  </div>
  <a href="/">Home</a>
  <a href="/about">About Us</a>
  <a href="/create">Create Event</a>
<!--   link to calender -->

</nav>
  
    <table class="table">
    
    <tr>
      <th>Event Name</th>
      <th>Name</th>
      <th>Email</th>
      <th>Place</th>
      <th>Date</th>
      <th>Other Info</th>
    </tr>
     {% for event in event_list %}
      <tr>
        <td>{{ event['ename'] }}</td>
        <td>{{ event['name'] }}</td>
        <td>{{ event['email'] }}</td>
        <td>{{ event['where'] }}</td>
        <td>{{ event['date'] }}</td>
        <td>{{ event['oinfo'] }}</td>
      </tr>
    {% endfor %} 

  </table>


</body>
  
</html>
