<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>The Good Duck</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<style>
  @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
</style>
 
</head>

<body>

  
<container>
<div class="the-grid">
<!-- HEADER -->
<nav>
  <div class="duck">
    <img src="/static/duckling.png" alt="duck picture" height=75 px width=75>
  </div>
  <a href="/">Home</a>
  <a href="/about">About Us</a>
  <a href="/create">Create Event</a>
<!--   link to calender -->
  <a href="/add">Calender</a>
</nav>
  
</div>

<!--   TITLE  -->
<div class="title">
  <h1 id="title">The Good Duck</h1>
</div>
</div>
<!-- CREATE EVENT -->
<div class="event">
  <h3 id="eventHeader"> NEED VOLUNTEERS?  </h3>
  <a id="eventLink" href="/create"> CREATE EVENT </a>
  
</div>

<!-- ABOUT SECTION -->
<div class="about">
  <h3 id="abtHeader"><a href="about.html"> ABOUT </a></h3>

<p id="b"> This is a Website created for people who want to be more involved througout the school.  </p>

</div>

<!-- FOOTER -->
<footer>
  <div class="created">
  <p>Created by Maninder Kaur and Citlali Hernandez</p>
    <p>The Good Duck &copy; 2022</p>
  </div>
 
      <i class="bi bi-envelope">
     <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
     </svg>
      </i>
</footer>

  
</container>

 <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->

</body>

</html>
